//Variables

//Colores principales

$color-azul: #5857E4;
$color-rosa: #FEBAC7;
$color-amarillo: #FFDB60;
$color-blanco: white;

//Colores secundarios
$color-gris-texto: #4E4D4D;
$color-gris-fondo: #F4EFEF;